.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #F5F5F5; */
  background: rgb(0, 124, 195);
  background: linear-gradient(
    90deg,
    rgba(0, 124, 195, 1) 0%,
    rgba(244, 244, 244, 1) 50%,
    rgba(255, 140, 0, 1) 100%
  );
}

.login-container {
  display: flex;
  width: 900px;
  height: 500px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-section h2 {
  color: #2c3e50;
}

.form-section input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-login {
  margin-top: 15px;
}

.btn-social {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.apple {
  background: #333;
  color: white;
}

.google {
  background: #dc4e41;
  color: white;
}

.signup-link {
  margin-top: 15px;
}

.image-section {
  flex: 1;
  background: url("./image2.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.overlay-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}
