body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
  }

  .logo a{
    text-decoration: none;
    color: white;
    font-size: large;
  }

  .logo a:hover{
    color: #2C3E50;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 15px 30px;
    color: #2C3E50;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .links:hover{
    color: white;
    background-color: #E67E22;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .nav-links a {
    text-decoration: none;
    color: #2C3E50;
  }
  
  .btn {
    background-color: #E67E22;
    padding: 10px 15px;
    border-radius: 5px;
    color: #2C3E50;
    text-decoration: none;
  }
  
  .btn-outline {
    border: 2px solid #E67E22;
    padding: 8px 15px;
    border-radius: 5px;
    color: #E67E22;
    text-decoration: none;
  }
  
  .btn:hover{
    background-color: #2C3E50;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  .btn-outline:hover{
    background-color: #2C3E50;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }