#root{
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 15px 30px;
    color: white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .btn {
    background-color: #E67E22;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
  }
  
  .btn-outline {
    border: 2px solid #E67E22;
    padding: 8px 15px;
    border-radius: 5px;
    color: #E67E22;
    text-decoration: none;
  }
  
  .hero-section {
    text-align: center;
    padding: 50px 20px;
  }
  
  .hero-section h1 {
    font-size: 2.5rem;
    color: #2C3E50;
  }
  
  .hero-section p {
    font-size: 1.2rem;
    color: #7F8C8D;
  }
  
  .btn-primary {
    display: inline-block;
    background-color: #E67E22;
    padding: 12px 20px;
    border-radius: 5px;
    color: white;
    max-width: 250px;
    text-decoration: none;
    margin-top: 20px;
  }